<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104299146469-upfdtj6eee74nbou7noip9lo84peeucu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104299146469-upfdtj6eee74nbou7noip9lo84peeucu</string>
	<key>API_KEY</key>
	<string>AIzaSyB_rtP29D0NthRdi6-gamG7oF4TfxvDjD0</string>
	<key>GCM_SENDER_ID</key>
	<string>104299146469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dahab.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dahab-2f51a</string>
	<key>STORAGE_BUCKET</key>
	<string>dahab-2f51a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104299146469:ios:fa8aa41e86d9ab7d7cf80c</string>
</dict>
</plist>